@using ASI.Basecode.Services.ServiceModels
@model UserViewModel
@section styles{
    <link rel="stylesheet" href="~/css/ForgotAccount.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
}
@{
    ViewData["Title"] = "Forgot Account Page";
}<div>
    @Html.AntiForgeryToken()
</div>
<body style="background: linear-gradient(238deg, rgba(30, 113, 16, 0.80) 15.81%, rgba(88, 202, 69, 0.76) 100%);">
    @* First Row *@
    <div class="bg-light px-5 pt-0" style="box-shadow: 47px 4px 50px -5px #000;">
        <section class="row d-flex">
            <section class="col d-flex">
                <section class=" d-flex justfiy-content-start align-items-center">
                    <img class="my-3" width="100" height="80" src="~/img/logo.png" alt="" />
                    <span class="fs-1 pt-4 ms-2">UniThink</span>
                </section>
            </section>
        </section>
    </div>
    <section class="d-flex p-5">
        <section class="SubContainer container ps-5 pe-5 pb-3 border" style="background: #F5F5F5;">
            <section class="row">
                <section class="col-5"></section>
                <section class="col">
                    <img class="me-0" width="150" height="150" src="~/img/Uni-Think-Logo.svg" alt="" style="margin-left: auto; display: block;" />
                </section>
                <section class="row">
                    <h3 class="d-flex justify-content-start">Forgot your account?</h3>
                </section>
                <section class="row pt-5">
                    <h5 class="d-flex justify-content-start fw-normal">Please enter your email.</h5>
                </section>
                <form asp-controller="Account" asp-action="AccountVerification" method="post">
                    @*@Html.AntiForgeryToken()*@
                    <section class="row pt-3 pb-4">
                        <input type="text" class="border p-3" placeholder="Email:" asp-for="Email"/>
                    </section>
                    <section class="row pt-5 d-flex justify-content-end">
                        <input class="btn btn-success w-25 p-3" type="submit" id="submit" value="Get code" style="background: #1E7110" />
                    </section>
                </form>
            </section>
        </section>
    </section>
</body>

@section scripts {
    <script>
        var errorMessage = '@TempData["ErrorMessage"]';

        if(errorMessage) {
            toastr.error(errorMessage);
        }
    </script>
}