<div class="min-vh-100" style="background: linear-gradient(238deg, rgba(30, 113, 16, 0.80) 12.82%, rgba(88, 202, 69, 0.76) 100%);">
<section class="container p-5">
    <section class="border bg-white container">
        <section class="row border d-flex">
                <section class="col">
                    <section class="d-flex justify-content-start">
                        Add Training Category
                    </section>
                </section>
                <section class="col">
                    <section class="d-flex justify-content-end align-items-center">
                            <i class="fa fa-x"></i>
                    </section>
                </section>
        </section>
    </section>
</section>
</div>
