@{
    ViewData["Title"] = "User Screen Dashboard";
}
<div class="container"> 
    <section style="background: linear-gradient(238deg, rgba(30, 113, 16, 0.80) 12.82%, rgba(88, 202, 69, 0.76) 100%);">
        <section class="row">
            <section class="col">
                
            </section>
            <section class="col"></section>
        </section>
    </section>
</div>  