@{
    ViewData["Title"] = "Topics";
}
<div class="min-vh-100" style="background: linear-gradient(238deg, rgba(30, 113, 16, 0.80) 12.82%, rgba(88, 202, 69, 0.76) 100%);">
    <section class="pb-2">
        <section class="row">
            <section class="row d-flex">
                <section class="col d-flex">
                    <section class=" d-flex justfiy-content-start align-items-center">
                        <img class="me-0 ps-2" width="150" height="140" src="~/img/Uni-Think-Logo.svg" alt="" style="margin-left: auto; display: block;" />
                    </section>
                </section>
                <section class="col d-flex justify-content-end">
                    <section class="d-flex justify-content-end align-items-center">
                        <img class="me-0 justify-content-end rounded-5" width="60" height="60" src="~/img/profile-logo.png" alt="" style="margin-left: auto; display: block;" />
                    </section>
                </section>
            </section>
        </section>
        <div class="container border" style="background: #F5F5F5;">
            <section class="p-3">
                @* arrow *@
                <section class="row d-flex align-items-center">
                    <section class="col-1 d-flex justify-content-start align-items-center">
                        <a class="text-dark" asp-controller="Home" asp-action="Trainings"><i class="fs-3 fa fa-arrow-left"></i></a>
                    </section>
                    <section class="col-4 d-flex justify-content-start">
                        <section class="d-flex align-items-center">
                            <h4 class="fw-normal d-flex">Topics</h4>
                        </section>
                    </section>
                    <section class="col d-flex justify-content-end">
                        <!-- Search bar with icon on the left -->
                        <div class="row d-flex align-items-center search-container-dwieght border rounded-0 me-1">
                            <section class="col">
                                <input class="border-0 p-2 search-input-dwieght" type="text" placeholder="Search" style="background:#F5F5F5 !important;">
                            </section>
                            <section class="col">
                                <div class="search-icon-dwieght d-flex align-items-center">
                                    <i class="fs-3 fa fa-search"></i>
                                </div>
                            </section>
                        </div>
                    </section>
                </section>
                    @* List of Topics *@
                <div class="border border-dark m-1 d-flex">
                            <table class="min-vw-100" >
                               
                                    <tbody>
                                        <tr>
                                            <a>
                                            <td class="p-3">Phyton Basics </td>
                                            <td class="p-3">Author</td>
                                            <td class="p-3">Author</td>
                                            </a>
                                        </tr>
                                        <tr>
                                            <a>
                                            <td class="p-3">Phyton Basics </td>
                                            <td class="p-3">Author</td>
                                            <td class="p-3">Author</td>
                                            </a>
                                        </tr>
                                    </tbody>
                                
                            </table>
                        </section>
                    </div>
            </section>
    </section>
    </section>
</div>
    </section>
</div>  